{% extends 'Format.twig' %}

{% block body %}

    <p class="top-margin-cal"></p>
    <p>
        <a href="{{ url }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                Retour
            </button>
        </a>
    </p>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
    <div class="example-wrapper">
        <span class="line-break evidenced">
            Date d'envoi : {{ message.creationDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
        </span>
        {% if message.readingDate is not null %}
            <span class="line-break evidenced">Date de lecture :
                {{ message.readingDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
            </span>
        {% endif %}
        <span class="line-break evidenced">Expéditeur : {{ message.transmitter }}</span>
        <span class="line-break evidenced">Destinataire : {{ message.receiver }}</span>
        <span class="line-break evidenced">Message :</span>
        <span class="line-break word top-margin-cal message-color">{{ message.message }}</span>
        <span class="line-break">&nbsp</span>
        {% if message.transmitter != app.user.user %}
            <a class="btn waves-effect waves-light btn-dark" href="{{ path('message_create', {'receiverId': message.transmitter.id}) }}">Répondre</a>
        {% endif %}
        {% if (not is_granted('ROLE_PREVIOUS_ADMIN')) or (is_granted('ROLE_PREVIOUS_ADMIN') and message.receiver.username == 'gr') %}
            {% if (app.user.user == message.receiver and not message.isArchivedByReceiver) or (app.user.user == message.transmitter and not message.isArchivedByTransmitter) %}
                <a class="btn waves-effect waves-light btn-dark" href="{{ path('message_archive',
                    {'messageId': message.id}) }}">Supprimer
                </a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a class="btn waves-effect waves-light btn-danger" href="{{ path('message_remove',
                {'messageId': message.id}) }}">Supprimer définitivement
            </a>
        {% endif %}
        <span class="line-break">&nbsp</span>
        <span class="line-break">&nbsp</span>
        <span class="line-break">&nbsp</span>
    </div>
{% endblock %}
