{% extends 'Format.twig' %}

{% block body %}

    <p class="top-margin-cal">
        <a href="{{ url }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                Retour
            </button>
        </a>
    </p>
    <div class="contentplace" xmlns="http://www.w3.org/1999/html">
        <h1 class="centrage bottom-margin-cal evidenced"></h1>
        <h2 class="evidenced month-backgroundcolor white">
            {% if is_granted('ROLE_TENANT') %}
                {{ MonthString }} - {{ (UserSubleases|first).user }}
            {% elseif is_granted('ROLE_RENTER') %}
                {{ MonthString }} - {{ (UserSubleases|first).taker }}
            {% endif %}
        </h2>
        <div class="table">
            <table class="table table accounting-table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Prêts</th>
                    <th scope="col">Encaissé</th>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_RENTER') %}
                        <th scope="col">Comptabilisation</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for Sublease in UserSubleases %}
                    <tr>
                        <td></td>
                        <td>{{ Sublease.getDay }}</td>
                        {% if Sublease.isPaid %}
                            <td>
                                {#                            {{ constant('App\\Entity\\ParkingSublease::PRICE') }}.-- CHF#}
                                <span class="fa fa-check-circle darkgreen"></span>
                            </td>
                        {% else %}
                            <td><span class="fa fa-times-circle darkred"></span></td>
                        {% endif %}
                        <td>
                            {% if User.username != 'gr' and Contractor.username != 'gr' %}
                                {% if Sublease.isPaid %}
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') or (is_granted('ROLE_RENTER')
                                        and app.user.user.isUserEnabled) %}
                                        <a href="{{ path('parking_sublease_mark_as_paid_unpaid',
                                            { parkingSubleaseId:Sublease.id }) }}">
                                            <button type="button"
                                                    class="btn waves-effect waves-light btn-dark medium-font">
                                                <span class="evidenced"> Comptabiliser comme non payé</span>
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_RENTER') %}
                                        <a href="{{ path('parking_sublease_mark_as_paid_unpaid',
                                            { parkingSubleaseId:Sublease.id }) }}">
                                            <button type="button" class="btn waves-effect waves-light btn-dark medium-font">
                                                <span class="evidenced"> Comptabiliser comme payé</span>
                                            </button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if Sublease.isPaid %}
                                    {% if ((is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_RENTER'))
                                        and app.user.user.isUserEnabled) %}
                                        <button disabled type="button"
                                                class="btn waves-effect waves-light btn-dark medium-font">
                                            <span class="evidenced"> Comptabiliser comme non payé</span>
                                        </button>
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_RENTER') %}
                                        <button disabled type="button"
                                                class="btn waves-effect waves-light btn-dark medium-font">
                                            <span class="evidenced"> Comptabiliser comme payé</span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="evidenced">Somme encaissée : </td>
                    <td>
                        <span class="evidenced">{{ isPaidSum }}.-- CHF</span>
                    </td>
                </tr>
                <tr>
                    <td class="evidenced">Solde dû :</td>
                    {% if Contractor.username != 'gr' and app.user.user.username != 'gr' %}
                        {% if isNotPaidSum != 0 %}
                            {% if User.role == 'ROLE_TENANT' %}
                                <td>
                                    <span class="badge badge badge-danger large-font">{{ isNotPaidSum }}.-- CHF</span>
                                </td>
                            {% elseif User.role == 'ROLE_RENTER' %}
                                <td>
                                    <span class="badge badge badge-success large-font">{{ isNotPaidSum }}.-- CHF</span>
                                </td>
                            {% endif %}
                        {% else %}
                            <td>
                                <span class="badge badge badge-secondary large-font">{{ isNotPaidSum }}.-- CHF</span>
                            </td>
                        {% endif %}
                    {% else %}
                        <td>
                            <span class="badge badge badge-secondary large-font">0.-- CHF</span>
                        </td>
                    {% endif %}
                    <td></td>
                    <td>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_RENTER') %}
                            {% if isNotPaidSum != 0 %}
                                {% if User.username != 'gr' and Contractor.username != 'gr' %}
                                    <a href="{{ path('money_acknowledge',
                                        {'takerId': Contractor.id, 'month': Month, 'category': category}) }}">
                                        <button type="button" class="btn waves-effect waves-light btn-success xx-large-font">
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="Accuser réception de la somme totale de {{ TotalDueAmount }}.-- CHF"
                                                  class="evidenced">Accuser réception
                                            </span>
                                        </button>
                                    </a>
                                {% else %}
                                    <button disabled type="button" class="btn waves-effect waves-light btn-dark medium-font">
                                        <span class="evidenced">Accuser réception</span>
                                    </button>
                                {% endif %}
                            {% else %}
                                {% if User.role == 'ROLE_RENTER' %}
                                    <span class="bade badge badge-info xx-large-font">Accusé de réception
                                        <span class="line-break">signalé à {{ Contractor }}</span>
                                    </span>
                                {% elseif User.role == 'ROLE_TENANT' %}
                                    <span class="bade badge badge-info xx-large-font">Accusé de réception
                                        <span class="line-break">signalé à {{ User }}</span>
                                    </span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
