{% extends 'Format.twig' %}

{#{% block title %}Hello ReceiversListController!{% endblock %}#}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="bottom-margin-cal evidenced top-margin-cal">Logs des utilisateurs : </h1>

        {#        <span class="badge badge-info" style="font-size: large">Administrateur :</span>#}
        {% for log in usersLogs %}
            <ul>
                <li> <span class="evidenced">Utilisateur :</span> {{ log.loggedInUser }} </li>
                <li> <span class="evidenced">Date :</span> le {{ log.loginDate|date('d-m-Y') }}
                    à {{ log.loginDate|date('H:i:s') }}</li>
                <li> <span class="evidenced">Page visitée :</span> {{ log.visitedPage }} </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
