
{% block body %}

    {% set large = '15%' %}

    {% if Calendar is defined %}

        <table>
            <thead>
            <tr>
                <th class="table-size"><span class="evidenced x-large-font">Lundi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mardi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mercredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Jeudi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Vendredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Samedi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Dimanche</span></th>
            </tr>
            </thead>
            <tbody>
            {# sauter des cases jusqu'au début du mois #}
            {# Afficher les jours donnés par le controller ligne par ligne #}
            {% for date in Calendar.datesList %}
                {% if date|date('N') == 1 or loop.first %}
                    <tr>
                {% endif %}
                {% if loop.first and date|date('N') > 1 %}
                    {% for d in 1..(date|date('N') - 1) %}
                        <td></td>
                    {% endfor %}
                {% endif %}
                <td>
                    <div class="calendar__table">
                        <div>
                            <span class="evidenced">{{ date|date('j') }}</span>
                            {% if date|date('N') == 1 or loop.first %}
                                <span class="evidenced">(Sem {{ date|date('W') }})</span>
                            {% endif %}
                            {% set dayFormat = date|date('Y-m-d') %}
                            <span class="centrage line-break">
                            {% if OpenToSubleaseList[dayFormat] is defined %}
                                {% if date >= Today %}
                                    {% if OpenToSubleaseList[dayFormat] == 1 %}

                                        <span data-toggle="tooltip" data-html="true"
                                              title="{{ OpenToSubleaseList[dayFormat] }} parking à emprunter">
                                            <span class="badge sublease-pill-badge evidenced top-margin-cal large-font">
                                                {{ OpenToSubleaseList[dayFormat] }}
                                            </span>
                                        </span>
                                    {% elseif OpenToSubleaseList[dayFormat] > 1 %}
                                        <span data-toggle="tooltip" data-html="true"
                                              title="{{ OpenToSubleaseList[dayFormat] }} parkings à emprunter">
                                            <span class="badge sublease-pill-badge evidenced top-margin-cal large-font">
                                                {{ OpenToSubleaseList[dayFormat] }}
                                            </span>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if OpenToSubleaseList[dayFormat] == 1 %}
                                        <span data-toggle="tooltip" data-html="true"
                                              title="{{ OpenToSubleaseList[dayFormat] }} parking à emprunter non souscrit">
                                            <span type="" class="badge sublease-pill-badge-expired evidenced top-margin-cal large-font">
                                                {{ OpenToSubleaseList[dayFormat] }}
                                            </span>
                                        </span>
                                    {% elseif OpenToSubleaseList[dayFormat] > 1 %}
                                        <span data-toggle="tooltip" data-html="true"
                                              title="{{ OpenToSubleaseList[dayFormat] }} parkings à emprunter non souscrits">
                                            <span type="" class="badge sublease-pill-badge-expired evidenced top-margin-cal large-font">
                                                {{ OpenToSubleaseList[dayFormat] }}
                                            </span>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                                {% if TakenDaysOfCurrentMonth[dayFormat] is defined %}
                                    {% if date >= Today %}
                                        {% if TakenDaysOfCurrentMonth[dayFormat] == 1 %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="{{ TakenDaysOfCurrentMonth[dayFormat] }} parking emprunté">
                                                <span type="" class="badge sublease-pill-badge-taken evidenced top-margin-cal large-font">
                                                    {{ TakenDaysOfCurrentMonth[dayFormat] }}
                                                </span>
                                            </span>
                                        {% elseif TakenDaysOfCurrentMonth[dayFormat] >= 1 %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="{{ TakenDaysOfCurrentMonth[dayFormat] }} parkings empruntés">
                                                <span class="badge sublease-pill-badge-taken evidenced top-margin-cal large-font">
                                                    {{ TakenDaysOfCurrentMonth[dayFormat] }}
                                                </span>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        {% if TakenDaysOfCurrentMonth[dayFormat] == 1 %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="{{ TakenDaysOfCurrentMonth[dayFormat] }} parking emprunté">
                                                <span class="badge sublease-pill-badge-expired-taken evidenced top-margin-cal large-font">
                                                    {{ TakenDaysOfCurrentMonth[dayFormat] }}
                                                </span>
                                            </span>
                                        {% elseif TakenDaysOfCurrentMonth[dayFormat] >= 1 %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="{{ TakenDaysOfCurrentMonth[dayFormat] }} parkings empruntés">
                                                <span class="badge sublease-pill-badge-expired-taken evidenced top-margin-cal large-font">
                                                    {{ TakenDaysOfCurrentMonth[dayFormat] }}
                                                </span>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>

                            {% if TakenOrOpenedSubleaseList[dayFormat] is defined %}
                            <div class="centrage line-break">
                                {% if date >= Today %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn sublease-pill-badge evidenced fas fa-info top-margin-cal" data-toggle="modal"
                                            data-target="#singlePlaceModal{{ dayFormat }}">
                                    </button>
                                {% else %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn sublease-pill-badge-expired evidenced fas fa-info top-margin-cal" data-toggle="modal"
                                            data-target="#singlePlaceModal{{ dayFormat }}">
                                    </button>
                                {% endif %}
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="singlePlaceModal{{ dayFormat }}" tabindex="-1" role="dialog"
                                 aria-labelledby="singlePlaceModalLabel{{ dayFormat }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="singlePlaceModalLabel{{ dayFormat }}">
                                                Emprunt(s) du jour
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                                <span class="evidenced line-break bottom-margin-cal">
                                                    Date : {{ date|date('d / m / Y') }}
                                                </span>
                                            {% for Sublease in TakenOrOpenedSubleaseList[dayFormat] %}
                                                {% if Sublease.isTaken %}
                                                    {% if date > Today %}
                                                        <span class="evidenced">
                                                                {{ Sublease.user.firstName }} {{ Sublease.user.lastName }}
                                                            </span>
                                                        prête son <span class="evidenced">parking
                                                            {{ Sublease.getRenterParkingNumber }}</span>
                                                        à
                                                        <span class="evidenced">
                                                            {{ Sublease.taker.firstName }} {{ Sublease.taker.lastName }}
                                                            </span>
                                                        <a class="fa fa-trash darkred"
                                                           href="{{ path('parking_remove_confirmation', {'parkingId' : Sublease.id}) }}">
                                                        </a>
                                                        <span class="line-break"></span>
                                                    {% else %}
                                                        <span class="evidenced">
                                                                {{ Sublease.user.firstName }} {{ Sublease.user.lastName }}
                                                            </span>
                                                        a prêté son
                                                        <span class="evidenced">parking
                                                            {{ Sublease.subleaseParkingNumber }}</span>
                                                        à
                                                        <span class="evidenced">
                                                            {{ Sublease.taker.firstName }} {{ Sublease.taker.lastName }}
                                                            </span>
                                                        <a class="fa fa-trash darkred"
                                                           href="{{ path('parking_remove_confirmation', {'parkingId' : Sublease.id}) }}">
                                                        </a>
                                                        <span class="line-break"></span>
                                                    {% endif %}
                                                {% elseif Sublease.isSubleaseOpened %}
                                                    {% if date > Today %}
                                                        <span class="evidenced">
                                                                {{ Sublease.user.firstName }} {{ Sublease.user.lastName }}
                                                            </span>
                                                        propose de prêter son
                                                        <span class="evidenced">
                                                            parking {{ Sublease.getRenterParkingNumber }}</span>
                                                        <span class="line-break"></span>
                                                    {% else %}
                                                        <span class="evidenced">
                                                                {{ Sublease.user.firstName }} {{ Sublease.user.lastName }}
                                                            </span>
                                                        a proposé de prêter son
                                                        <span class="evidenced">
                                                            parking {{ Sublease.subleaseParkingNumber }}</span>
                                                        <span class="line-break"></span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Fermer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
                {% if date|date('N') == 7 or loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <span class="verticalspaces"></span>

    {% endif %}

{% endblock %}
