
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">#}

<link rel="stylesheet"
      href="{{ asset('CSS/Calendar.css') }}">

<link href="{{ asset('static/fa/css/all.css') }}" rel="stylesheet"> <!--load all styles -->

<link href="{{ asset('static/fa/css/fontawesome.css') }}" rel="stylesheet"> <!--load all styles -->

{% block body %}


    {#    pour réduire la navbar sur les appareils mobiles : #}
    {#    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid container-limited">
            <a class="navbar-brand centrage" href="{{ path('calendar_redirect') }}">
                <i class="fas fa-calendar-alt xx-large-font"></i>
                <span class="evidenced large-font line-break">Calendrier</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT') or is_granted('ROLE_ADMINISTRATOR') %}

                        {% if app.request.attributes.get('_route') == ''
                            or app.request.attributes.get('_route') == 'calendar'
                            or app.request.attributes.get('_route') == 'users_list'
                            or app.request.attributes.get('_route') == 'my_administrator_rentals'
                            or app.request.attributes.get('_route') == 'user_create'
                            or app.request.attributes.get('_route') == 'user_consulting'
                            or app.request.attributes.get('_route') == 'my_tenant_rentals'
                            or app.request.attributes.get('_route') == 'my_tenant_rentals_archives'
                            or app.request.attributes.get('_route') == 'my_renter_rentals'
                            or app.request.attributes.get('_route') == 'my_renter_rentals_archives'
                            or app.request.attributes.get('_route') == 'accounting'
                            or app.request.attributes.get('_route') == 'user_remove'
                            or app.request.attributes.get('_route') == 'accounting_month_edit'
                            or app.request.attributes.get('_route') == 'receivers_list'
                            or app.request.attributes.get('_route') == 'message_receive'
                            or app.request.attributes.get('_route') == 'message_sent'
                            or app.request.attributes.get('_route') == 'message_open' %}


                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage" href="#" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-eye xx-large-font white"></i>
                                        <span class="evidenced white line-break">Prêts & Utilisateurs</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('my_administrator_rentals') }}">
                                            <span class="fa fa-file-contract evidenced"> Tous les prêts</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('users_list') }}">
                                            <span class="fa fa-users evidenced"> Utilisateurs</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('login_events_show') }}">
                                            <span class="fa fa-sign-in-alt evidenced"> Logs des utilisateurs</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('user_create', { role: 'ROLE_RENTER' }) }}">
                                            <span class="fa fa-user-tie evidenced"> Créer un utilisateur prêteur</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('user_create', { role: 'ROLE_TENANT' }) }}">
                                            <span class="fa fa-user-graduate evidenced"> Créer un utilisateur emprunteur</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_RENTER') and not is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage" href="#" id="navbarDropdownMenuL"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-coins xx-large-font white"></i>
                                        {% if receivableTotalAmount > 0 %}
                                            <span class="badge badge-success large-font">
                                                <span class="evidenced">{{ receivableTotalAmount }}.-- CHF</span>
                                            </span>
                                        {% endif %}
                                        <span class="evidenced white line-break">Comptabilité</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuL">
                                        <a class="dropdown-item"
                                           href="{{ path('accounting', { category: 'isNotPaid', userId: app.user.user.id }) }}">
                                            <span class="fa fa-funnel-dollar evidenced"> À encaisser</span>
                                            <span class="badge badge-success">
                                                <span class="evidenced">{{ receivableTotalAmount }}.-- CHF</span>
                                            </span>
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('accounting', { category: 'isPaid', userId: app.user.user.id }) }}">
                                            <span class="fa fa-hands-helping evidenced"> Soldés</span>
                                            <span class="badge badge-primary">
                                                <span class="evidenced">{{ receivedTotalAmount }}.-- CHF</span>
                                            </span>
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('accounting', { category: 'all', userId: app.user.user.id }) }}">
                                            <span class="fa fa-list evidenced"> Tous</span>
                                            <span class="badge badge-dark">
                                                <span class="evidenced">{{ receivableAndreceivedTotalAmount }}.-- CHF</span>
                                            </span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_TENANT') and not is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    {% if (dueAmountOnNextDueDate <= 0)
                                        or (("now"|date('d', 'Europe/Paris') > 10) and dueAmountOnNextDueDate <= 0) %}
                                        <a class="nav-link centrage" href="#" id="navbarDropdownMenuL"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-coins xx-large-font white"></i>
                                            <span class="evidenced white line-break">Comptabilité</span>
                                        </a>
                                    {% elseif (dueAmountOnNextDueDate > 0) and ("now"|date('d', 'Europe/Paris') >= 1
                                        and "now"|date('d', 'Europe/Paris') <= 10) %}
                                        <a class="nav-link centrage" href="#" id="navbarDropdownMenuL"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-coins xx-large-font white"></i>
                                            <span class="badge badge-danger xx-large-font"> Cliquer ici
                                                <span class="fa fa-exclamation-triangle"></span></span>
                                            <span class="evidenced white line-break">Comptabilité</span>
                                        </a>
                                    {% elseif (dueAmountOnNextDueDate > 0) and ("now"|date('d', 'Europe/Paris') > 10) %}
                                        <a class="nav-link centrage" href="#" id="navbarDropdownMenuL"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-coins xx-large-font white"></i>
                                            {#                                            <span class="badge badge-danger x-large-font">#}
                                            <span class="fa fa-exclamation-triangle xx-large-font red-color"></span>
                                            {#                                            </span>#}
                                            <span class="evidenced white line-break">Comptabilité</span>
                                        </a>
                                    {% endif %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuL">
                                        {% if ((dueAmountOnNextDueDate <= 0) or (app.user.user.insolvencyImmunity == true))
                                            and (app.user.user.isUserBlockedForInsolvency != true) %}
                                            <a class="dropdown-item" href="{{ path('accounting',
                                                { category: 'isNotPaid', userId: app.user.user.id }) }}">
                                                <b class="fa fa-search-dollar"> À payer</b>
                                                {% if dueTotalAmount > 0 %}
                                                    <span class="badge badge-danger">
                                                        <span class="evidenced">{{ dueTotalAmount }}.-- CHF</span>
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-success">
                                                        <span class="evidenced">{{ dueTotalAmount }}.-- CHF</span>
                                                        <span class="fa fa-check-circle"></span>
                                                    </span>
                                                {% endif %}
                                            </a>
                                        {% elseif (dueAmountOnNextDueDate > 0)
                                            and (app.user.user.insolvencyImmunity != true)
                                            and (app.user.user.isUserBlockedForInsolvency != true) %}
                                            <a class="dropdown-item" href="{{ path('accounting',
                                                { category: 'isNotPaid', userId: app.user.user.id }) }}">
                                                <b class="fa fa-search-dollar"> À payer</b>
                                                <span class="badge badge-danger">
                                                    <span class="evidenced">{{ dueAmountOnNextDueDate }}.-- CHF</span>
                                                    de {{ previousMonthDueMoney }} payables au
                                                    {{ nextDueDate|date('d-m-Y') }}, au-delà, ce compte sera bloqué
                                                </span>
                                            </a>
                                        {% elseif app.user.user.isUserBlockedForInsolvency == true %}
                                            <a class="dropdown-item" href="{{ path('accounting',
                                                { category: 'isNotPaid', userId: app.user.user.id }) }}">
                                                <b class="fa fa-search-dollar"> À payer</b>
                                                <span class="fa fa-exclamation-triangle evidenced darkred x-large-font"></span>
                                            </a>
                                        {% endif %}

                                        <a class="dropdown-item"
                                           href="{{ path('accounting', { category: 'isPaid', userId: app.user.user.id }) }}">
                                            <span class="fa fa-hands-helping evidenced"> Soldés</span>
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('accounting', { category: 'all', userId: app.user.user.id }) }}">
                                            <span class="fa fa-list evidenced"> Tous</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_RENTER') and not is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage"
                                       href="{{ path('my_renter_rentals', {sort: 'byDates'}) }}">
                                        <i class="fas fa-eye xx-large-font white"></i>
                                        <span class="evidenced white line-break">Prêts actuels</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('my_renter_rentals',
                                            {sort: 'byDates'}) }}">
                                            <span class="fa fa-file-contract evidenced"> Actuels</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_TENANT') and not is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage"
                                       href="{{ path('my_tenant_rentals', {sort: 'byDates'}) }}">
                                        <i class="fas fa-eye xx-large-font white"></i>
                                        <span class="evidenced white line-break">Emprunts actuels</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')
                                or is_granted('ROLE_ADMINISTRATOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage" href="#" id="navbarDropdownMenuL"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-envelope xx-large-font white"></i>
                                        {% if numberOfUnreadMessages is defined %}
                                            {% if is_granted('ROLE_TENANT') or is_granted('ROLE_RENTER')
                                                or is_granted('ROLE_ADMINISTRATOR') %}
                                                {% if numberOfUnreadMessages > 0 %}
                                                    <span class="badge badge-danger large-font">
                                                        {{ numberOfUnreadMessages }}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <br>
                                        <span class="evidenced white">Messages</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuL">
                                        <a class="dropdown-item" href="{{ path('receivers_list') }}">
                                            <span class="fa fa-comment evidenced"> Écrire</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('message_sent') }}">
                                            <span class="fas fa-satellite-dish evidenced"> Envoyés</span>
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('message_receive', {'inboxType' : 'inbox'}) }}">
                                            <span class="fa fa-envelope-open evidenced"> Reçus</span>
                                            {% if numberOfUnreadMessages is defined %}
                                                {% if is_granted('ROLE_TENANT') or is_granted('ROLE_RENTER')
                                                    or is_granted('ROLE_ADMINISTRATOR') %}
                                                    {% if numberOfUnreadMessages > 0 %}
                                                        <span class="badge badge badge-danger">
                                                            {{ numberOfUnreadMessages }}
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_ADMINISTRATOR') %}
                                            <a class="dropdown-item"
                                               href="{{ path('message_receive', {'inboxType' : 'archived'}) }}">
                                                <span class="fas fa-trash evidenced"> Reçus supprimés</span>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_ADMINISTRATOR') %}
                                            <a class="dropdown-item"
                                               href="{{ path('message_receive', {'inboxType' : 'sentArchived'}) }}">
                                                <span class="fas fa-trash evidenced"> Envoyés supprimés</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_TENANT') or is_granted('ROLE_RENTER')
                                or is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link centrage" href="#" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user xx-large-font white"></i>
                                        <span class="evidenced white line-break">
                                            {{ app.user.firstName }} {{ app.user.lastName }}
                                        </span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('user_consulting',
                                            { userId: app.user.userId }) }}">
                                            <span class="fa fa-user-circle evidenced"> Mon profil</span>
                                        </a>
                                        {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('logout') }}">
                                                <span class="fa fa-sign-out-alt evidenced"> Déconnexion</span>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                            <a class="dropdown-item"
                                               href="{{ path('calendar_redirect', {'_switch_user': '_exit'}) }}">
                                                <span class="fa fa-sign-out-alt evidenced"> Quitter l'utilisateur</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% elseif app.request.attributes.get('_route') != 'login' %}
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ path('login') }}">
                                <i class="fas fa-sign-in-alt xx-large-font"></i>
                                <span class="evidenced medium-font line-break">Connexion</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}


