{% extends 'Format.twig' %}

{% block body %}

    {% if not isRefererLogin %}
        <p xmlns:font-size="http://www.w3.org/1999/xhtml">
            <a href="{{ referer }}">
                <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                    Retour
                </button>
            </a>
        </p>
    {% else %}
        <p xmlns:font-size="http://www.w3.org/1999/xhtml">
            <span>
                <button type="button" class="btn waves-effect waves-light btn-dark disabled xx-large-font evidenced">
                    Retour
                </button>
            </span>
        </p>
    {% endif %}
    <div class="contentplace">
        <span class="fewverticalspaces"></span>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="_username"
                       value="" aria-describedby="emailHelp" placeholder="Nom d'utilisateur">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="_password"
                       value="" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                Connecter
            </button>
        </form>
    </div>
    <span class="fewverticalspaces"></span>
    <div class="updatebuttonplace">
        <a target="_blank" href="https://www.giuruss.ch/dem.mp4">
            <button type="button" class="btn waves-effect waves-light btn-danger xx-large-font evidenced">
                Vidéo de démo
            </button>
        </a>
    </div>
    <span class="verticalspaces"></span>
{% endblock %}

