{% extends 'Format.twig' %}

{% block body %}
    {% if IsRefererCalendar %}
        <p>
            <a href="{{ Referer }}">
                <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                    Retour
                </button>
            </a>
        </p>
    {% else %}
        <span class="fewverticalspaces"></span>
    {% endif %}
    <div class="contentplace">
        <h1 class="top-margin-cal evidenced bottom-margin-cal">Mes prêts actuels</h1>
        {% if CurrentPeriodSubleasesList is defined %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="evidenced black">Date du prêt</span>
                <span class="evidenced black">Emprunteur</span>
            </li>
            {% for sublease in CurrentPeriodSubleasesList %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-success badge-pill">
                        {{ sublease.day.date|date('d-m-Y') }}
                    </span>
                    <span class="sublease-user badge badge-primary badge-pill">
                        {{ sublease.taker.firstName }} {{ sublease.taker.lastName }}
                    </span>
                </li>
            {% endfor %}
        {% endif %}
    </div>
    <span class="verticalspaces"></span>
{% endblock %}

