{% extends 'Format.twig' %}

{% block body %}

    <div class="contentplace bottom-margin">

        {% if UserRole == 'ROLE_RENTER' %}

            {% if Category == 'all' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Tous mes prêts</h1>
            {% elseif Category == 'isPaid' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Mes prêts soldés</h1>
            {% elseif Category == 'isNotPaid' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Mes prêts à encaisser</h1>
            {% endif %}

        {% elseif UserRole == 'ROLE_TENANT' %}

            {% if Category == 'all' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Tous mes emprunts</h1>
            {% elseif Category == 'isPaid' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Mes emprunts soldés</h1>
            {% elseif Category == 'isNotPaid' %}
                <h1 class="bottom-margin-cal top-margin-cal evidenced">Mes emprunts à payer</h1>
            {% endif %}

        {% endif %}

        {% for Contractors in PerMonthAndContractorTab %}

            <h2 class="evidenced top-margin-accounting white month-backgroundcolor">
                {{ CalendarData.toStringFromMonthAndYearString(Contractors|first|first.month) }}
            </h2>

            {% for Months in Contractors %}

                {% for monthItems in Months %}

                    <div class="table-responsive">
                        <table class="table table accounting-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Montants</th>
                                <th scope="col">Échéance</th>
                                <th scope="col">Options de paiement</th>
                                {% if is_granted('ROLE_RENTER') %}
                                    <th scope="col">Emprunteur</th
                                {% elseif is_granted('ROLE_TENANT') %}
                                    <th scope="col">Prêteur</th
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="badge badge badge-primary large-font">
                                        {{ monthItems.getContractor }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="evidenced">Somme encaissée :</td>

                                <td></td>
                                <td>
                                    {% if monthItems.contractor.username != 'gr' and app.user.user.username != 'gr' %}
                                        {% if monthItems.getUnpaidSum == 0 %}
                                            <span class="badge badge-primary evidenced large-font">
                                                {{ monthItems.getMonthSubleasesPerContractorTotal - monthItems.getUnpaidSum }}.-- CHF
                                            </span>
                                            <span data-toggle="tooltip" data-html="true" title="Paiement complet"
                                                  class="fa fa-check-circle darkgreen"></span>
                                        {% else %}
                                            <span class="">
                                                {{ monthItems.getMonthSubleasesPerContractorTotal - monthItems.getUnpaidSum }}.-- CHF</span>
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="En attente de paiement du solde dû" class="fa fa-clock darkred"></span>
                                        {% endif %}
                                    {% elseif monthItems.contractor.username == 'gr' or app.user.user.username == 'gr' %}
                                        <span class="badge badge-primary evidenced large-font">0.-- CHF</span>
                                        <span class="fa fa-check-circle darkgreen"></span>
                                    {% endif %}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="evidenced">Solde dû :</td>
                                <td>
                                    {% if monthItems.contractor.username != 'gr' and app.user.user.username != 'gr' %}
                                        {% if monthItems.getUnpaidSum == 0 %}
                                            <span class="">{{ monthItems.getUnpaidSum }}.-- CHF</span>
                                        {% else %}
                                            {% if is_granted('ROLE_RENTER') %}
                                                <span class="badge badge badge-success large-font">
                                                    {{ monthItems.getUnpaidSum }}.-- CHF
                                                </span>
                                            {% elseif is_granted('ROLE_TENANT') %}
                                                <span class="badge badge badge-danger large-font">
                                                    {{ monthItems.getUnpaidSum }}.-- CHF
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% elseif monthItems.contractor.username == 'gr' or app.user.user.username == 'gr' %}
                                        <span>0.-- CHF</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if monthItems.checkIfMonthIsPaid %}
                                        {% if monthItems.getDueDate >= monthItems.getPaymentDate %}
                                            <span
                                                    data-toggle="tooltip" data-html="true" title="Échéance respectée"
                                                    class="evidenced darkgreen large-font">
                                                {{ monthItems.getDueDate|date('d-m-Y') }}
                                            </span>
                                        {% else %}
                                            <span
                                                    data-toggle="tooltip" data-html="true" title="Échéance non respectée"
                                                    class="evidenced darkred large-font">
                                                {{ monthItems.getDueDate|date('d-m-Y') }}
                                            </span>
                                            <span class="line-break"></span>
                                        {% endif %}
                                    {% else %}
                                        {% if monthItems.contractor.username != 'gr' and app.user.user.username != 'gr' %}
                                            {% if (monthItems.getDueDate|date('Y-m', 'Europe/Paris') <= "now"|date('Y-m', 'Europe/Paris')) %}
                                                <span class="evidenced darkred">{{ monthItems.getDueDate|date('d-m-Y') }}</span>
                                                <span data-toogle="tooltip" data-html="true"
                                                      title="Échéance imminente ou dépassée"
                                                      class="fa fa-exclamation-triangle darkred xx-large-font">
                                                </span>
                                            {% else %}
                                                <span class="evidenced darkred">
                                                    {{ monthItems.getDueDate|date('d-m-Y') }}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="evidenced darkgreen">
                                                {{ monthItems.getDueDate|date('d-m-Y') }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-lightgray large-font" data-toggle="modal"
                                            data-target="#paymentOptionsModal{{ monthItems.contractor }} {{ monthItems.month }}">
                                        <span class="evidenced fas fa-info-circle"></span>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="paymentOptionsModal{{ monthItems.contractor }} {{ monthItems.month }}"
                                         tabindex="-1" role="dialog"
                                         aria-labelledby="paymentOptionsLabel{{ monthItems.contractor }} {{ monthItems.month }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="paymentOptionsModal{{ monthItems.contractor }} {{ monthItems.month }}">
                                                        {% if is_granted('ROLE_TENANT') %}
                                                            <span class="evidenced">Options de paiement</span>
                                                        {% elseif is_granted('ROLE_RENTER') %}
                                                            <span class="evidenced">Options de paiement que je propose</span>
                                                        {% endif %}
                                                    </h5>
                                                </div>
                                                <div class="modal-body centrageleft">
                                                    <span class="line-break bottom-margin-cal">
                                                        <img src="{{ asset('uploads/Money-bag-ceo-feat.jpg') }}"
                                                             alt="Simply Easy Learning" width="50"
                                                             height="50"> cash
                                                    </span>

                                                    {% if is_granted('ROLE_TENANT') %}
                                                        {% if monthItems.contractor.phoneNumber is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/twint.png') }}"
                                                                     alt="Simply Easy Learning" width="50"
                                                                     height="50"> {{ monthItems.contractor.phoneNumber }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/twint.png') }}"
                                                                     alt="Simply Easy Learning" width="50"
                                                                     height="50"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% elseif(is_granted('ROLE_RENTER')) %}
                                                        {% if LoggedUser.phoneNumber is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/twint.png') }}"
                                                                     alt="Simply Easy Learning" width="50"
                                                                     height="50"> {{ LoggedUser.phoneNumber }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/twint.png') }}"
                                                                     alt="Simply Easy Learning" width="50"
                                                                     height="50"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if is_granted('ROLE_TENANT') %}
                                                        {% if monthItems.contractor.payPalEmail is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/paypal.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> {{ monthItems.contractor.payPalEmail }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/paypal.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% elseif(is_granted('ROLE_RENTER')) %}
                                                        {% if LoggedUser.payPalEmail is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/paypal.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> {{ LoggedUser.payPalEmail }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/paypal.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if is_granted('ROLE_TENANT') %}
                                                        {% if monthItems.contractor.revolutPhoneNumber is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/revo.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> {{ monthItems.contractor.revolutPhoneNumber }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/revo.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% elseif(is_granted('ROLE_RENTER')) %}
                                                        {% if LoggedUser.revolutPhoneNumber is not empty %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/revo.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> {{ LoggedUser.revolutPhoneNumber }}
                                                            </span>
                                                        {% else %}
                                                            <span class="line-break bottom-margin-cal">
                                                                <img src="{{ asset('uploads/revo.png') }}"
                                                                     alt="Simply Easy Learning" width="100"
                                                                     height="100"> <i>Non renseigné</i>
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        <span class="evidenced">Fermer</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% if monthItems.checkIfMonthIsPaid %}
                                        <span class="evidenced">Accusé de réception</span>
                                        <span data-toggle="tooltip" data-html="true"
                                              title="Accusé de réception du solde dû émis le {{ monthItems.getPaymentDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}"
                                              class="fa fa-check-circle darkgreen">
                                        </span>
                                    {% else %}
                                        <span class="evidenced">Accusé de réception</span>
                                        {% if monthItems.contractor.username != 'gr' and app.user.user.username != 'gr' %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="Accusé de réception du solde dû non émis"
                                                  class="fa fa-times-circle darkred">
                                            </span>
                                        {% else %}
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="Pas d'accusé de réception avec ce prêteur"
                                                  class="fas fa-comment-slash darkgreen">
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {% if is_granted('ROLE_RENTER') %}
                                        <a href="{{ path('accounting_month_edit',
                                            {month:monthItems.month, contractorId:monthItems.contractor.id,
                                                userId:LoggedUser.id, category:Category}) }}">
                                            <button type="button" class="btn waves-effect waves-light btn-dark x-large-font">
                                                {% if monthItems.checkIfMonthIsPaid %}
                                                    <span class="accountingWidth evidenced">Réviser</span>
                                                {% else %}
                                                    <span class="evidenced">Comptabiliser</span>
                                                {% endif %}
                                            </button>
                                        </a>
                                    {% elseif is_granted('ROLE_TENANT') %}
                                        <a href="{{ path('accounting_month_edit',
                                            {month:monthItems.month, contractorId:monthItems.contractor.id,
                                                userId:LoggedUser.id, category:Category}) }}">
                                            <button type="button" class="btn waves-effect waves-light btn-dark x-large-font">
                                                <span class="evidenced">Détails</span>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <span class="line-break"></span>

                    {#                    <span class="evidenced">#}
                    {#                    </span>#}
                    {#                    {% if not monthItems.checkIfMonthIsPaid %}#}
                    {#                        {% if UserRole == 'ROLE_RENTER' %}#}
                    {#                            {% if monthItems.monthSubleasesPerContractorTotal != 0 %}#}
                    {#                                <span class="line-break"></span>#}

                    {#                                <!-- Modal -->#}
                    {#                                <div class="modal fade" id="isPaidConfirmationModal{{ monthItems.contractor }} {{ monthItems.month }}"#}
                    {#                                     tabindex="-1" role="dialog"#}
                    {#                                     aria-labelledby="isPaidConfirmationModalLabel{{ monthItems.contractor }} {{ monthItems.month }}"#}
                    {#                                     aria-hidden="true">#}
                    {#                                    <div class="modal-dialog" role="document">#}
                    {#                                        <div class="modal-content">#}
                    {#                                            <div class="modal-header">#}
                    {#                                                <h5 class="modal-title"#}
                    {#                                                    id="isPaidConfirmationModalLabel{{ monthItems.contractor }} {{ monthItems.month }}">#}
                    {#                                                    <span class="evidenced">Confirmation de réception du paiement</span>#}
                    {#                                                </h5>#}
                    {#                                            </div>#}
                    {#                                            <div class="modal-body centrageleft">#}
                    {#                                                J'atteste avoir reçu le paiement.#}
                    {#                                                <br>#}
                    {#                                                La confirmation sera signalée à {{ monthItems.contractor }}#}
                    {#                                            </div>#}
                    {#                                            <div class="modal-footer">#}
                    {#                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">#}
                    {#                                                    <span class="evidenced">Fermer</span>#}
                    {#                                                </button>#}
                    {#                                                <a class="btn btn-primary"#}
                    {#                                                   href="{{ path('money_acknowledge',#}
                    {#                                                       {'takerId': monthItems.getContractor.getId,#}
                    {#                                                           'month': monthItems.getMonth, 'category': Category}) }}">#}
                    {#                                                    <span class="evidenced">#}
                    {#                                                        Confirmer#}
                    {#                                                    </span>#}
                    {#                                                </a>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                        {% endif %}#}
                    {#                    {% else %}#}
                    {#                    {% endif %}#}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
