{% extends 'Format.twig' %}

{% block body %}
    <p><a href="{{ path('user_consulting', {userId: ExistingUser.id}) }}">
            <button type="button" class="btn waves-effect waves-light btn-dark" style="font-size: xx-large">
                <span class="evidenced">Annuler</span>
            </button>
        </a>
    </p>
    <br>
    <h2>
        <span class="evidenced">Modification de mon username / mobile TWINT</span>
    </h2>
    <br>

    {{ form_start(formular) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.username) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.phoneNumber) }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.payPalEmail) }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.revolutPhoneNumber) }}
        </div>
    </div>

    <button type="submit" class="btn waves-effect waves-light btn-dark" style="font-size: x-large">
        Enregistrer les modifications
    </button>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

{% endblock %}